<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<div class="main_content"> 
	<div class="content_border">
		<div class="content_title">About Me</div>
		<div class="content_box">
		<%= image_tag "profile.jpg", alt: "" ,:class => 'img-polaroid profile_image', :align => 'left'%>
<br/>
Hi my name is Jake Pham, and I'm currently going to be a senior at UCSD. I'm an intern at Northrop Grumman. I enjoy design website on my free time and want to gain more experience in this field. I'm familiar with HTML, CSS, PHP and database and will be working on all these aspect for this website. Most of our website is going to be consist of Ruby on Rails and this will help me learn a new language to add to my resume. Me and my friend want to be our own boss and I believe that we could make it big one day as a Web Development and Consulting company. <br/></br/>
		</div>
	</div>

<br/><br/><br/><br/><br/>
	<div class="content_border">
		<div class="content_title">Skills</div>
		<div class="content_box">
			<div class="skill1">	
				<table border="0" width="100%" cellpadding="3" cellspacing="1">
					<tr>
						<td>
							<table>
								<td>
									<tr>
										<th><%= image_tag "html_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>HTML </th>
									</tr>
									<tr>
										<th><%= image_tag "css_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>CSS</th>
									</tr>		
									<tr>
										<th><%= image_tag "javascript_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>JAVASCRIPT</th>
									</tr>
								</td>			
							</table>
				        </td>
						<td>
							<table>
								<td>
									<tr>
										<th><%= image_tag "java_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>JAVA </th>
									</tr>
									<tr>
										<th><%= image_tag "c_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>C/C++</th>
									</tr>		
									<tr>
										<th><%= image_tag "vb_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>VISUAL BASIC</th>
									</tr>
								</td>			
							</table>
				        </td>
						<td>
							<table>
								<td>
									<tr>
										<th><%= image_tag "ruby_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>RUBY </th>
									</tr>
									<tr>
										<th><%= image_tag "php_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>PHP</th>
									</tr>		
									<tr>
										<th><%= image_tag "rails_logo.png", alt: "" ,:class => 'img-polaroid logo', :align => 'left'%></th>
										<th>RAILS</th>
									</tr>
								</td>			
							</table>
				        </td>
					</tr>
				</table>
			</div>

		</div>
	</div>
<br/><br/><br/>
	<div class="content_border">
		<div class="content_title">Experience</div>
		<div class="content_box">
			HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY 
		</div>
	</div>
<br/><br/><br/>
	<div class="content_border">
		<div class="content_title">Porfolio</div>
		<div class="content_box">
			HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY HEY 
		</div>
	</div>
</div>
</center>
